# IDE
*.iml
.idea

# docker
/zeppelin/logs
/zeppelin/notebook
/minio/data/.minio.sys
/webdav/DavLock
/postgres/data

# Zeppelin - File upload
*sample_output*

# Zeppelin - Notebooks from sub repository
zeppelin/notebook
